.spaced {
    padding: 40px 80px;
}

.wrapper-center {
    text-align: center !important;
}

p {
    font-family: 'Montserrat', sans-serif;
}

#Title {
    font-family: 'Verdana', sans-serif;

}

#Start div.spacing {
    margin: 25px 20px;
}


#header {
    background-image: url("../imgref/polysq.png");
    background-repeat: no-repeat;
}

#latestProjTitle {
    padding: 2px 0;
}

#latestProj {
    margin: 20px 0;
}

#latestProj button {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*
@font-face {
    font-family: ;
}
*/
