.spaced {
    padding: 40px 80px;
}

.sparse {
      padding-bottom: 20px;
}

.wrapper-center {
    text-align: center !important;
}

.expanded-segment {
    background-color: #DDD;
    border-radius: 0px 0px 8px 8px !important;
}

.expanded-segment-square {
    background-color: #DDD;
    border-color: #000;
    border-top-style: dashed;
    border-bottom-style: solid;
    border-bottom-color: #7B7B7B !important;
    border-width: 1px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

#Title {
    font-family: 'Verdana', sans-serif;

}

#Start div.spacing {
    margin: 25px 20px;
}


#header {
    background-image: url("../imgref/polysq.png");
    background-repeat: no-repeat;
}

#latestProjTitle {
    padding: 2px 0;
}

#latestProj {
    margin: 20px 0;
}

#latestProj button {
    margin-top: 5px;
    margin-bottom: 5px;
}

#latest-news {
    background-color: #EEE;
    border-radius: 0 0 8px 8px !important;
}

#latest-news li {
    font-size: 16px;
}

/*
@font-face {
    font-family: ;
}
*/
